<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>Hello, Rails</title>
  </head>
  <body>
    <h1>Hello from Rails!</h1>
    <p>
      Time to say
      <%= link_to("Goodbye!", :action => "goodbye") %>
    </p>

    <ul>
      <li>Addition: <%= 1+2 %> </li>
      <li>Concatenation: <%= "cow" + "boy" %> </li>
      <li>Time in one hour: <%= 1.hour.from_now %> </li>
      <li>It is now: <%= @time %></li>
    </ul>

    <% 3.times do -%>
      Ho ! <br />
    <% end -%>
    Merry Christmas!

    <p>########</p>
    <% 3.downto(1) do |count| -%>
      <%= count %> ... <br />
    <% end -%> Lift off!

    <p>escape html special chacater</p>
    Email: <%= h("Ann & Bill <yxy@gmail.com>") %>

    <p>##########</p>
    <% for file in @files %>
      file name is: <%= file %> <br />
      <% end %>
  </body>
</html>
